<ion-header>

  <ion-navbar>
    <ion-title>Botie Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <wechaty
    #wechaty
    [token]="token"

    (heartbeat) = "onHeartbeat($event)"
    (login)     = "onLogin($event)"
    (logout)    = "onLogout($event)"
    (message)   = "onMessage($event)"
    (scan)      = "onScan($event)"
  >
  </wechaty>

  <ion-list>

    <h4>
        <ion-icon name="home"></ion-icon>
        {{ token }}
    </h4>

    <ion-item [ngSwitch]="!!user">

      <div *ngSwitchCase="true">
        Congratulations! Wechaty is on duty.
        <p>Logined with user {{ user.name }}</p>
      </div>

      <div *ngSwitchDefault>
        <qrcode *ngIf="scanQrcodeValue"
          [qrdata]="scanQrcodeValue"
          [size]="256"
          [level]="'M'"
        >
        </qrcode>
        <!-- ELSE -->
        <div *ngIf="!(scanQrcodeValue)">
          Wechaty Initializing...
        </div>
      </div>

    </ion-item>


    <ion-item>
      <ion-icon name="heart"></ion-icon>
      Heartbeat #{{ counter }}
      <ion-note item-right>{{ timestamp }}</ion-note>
    </ion-item>

    <ion-item
      *ngFor="let event of eventList"
    >
      <ion-icon [name]="eventToIcon(event.type)"></ion-icon>
      <span style="text-transform: capitalize;">
        {{ event.type }}
      </span>
      <ion-note item-right>at {{ event.time }}</ion-note>
    </ion-item>

  </ion-list>

  <ol>
    <li *ngFor="let message of messages">
      {{ message }}
    </li>
  </ol>


  <!-- ion-list>
    <ion-list-header>Event Logs</ion-list-header>

    <ion-item>
      <ion-icon name="ionic"></ion-icon>
      Item
    </ion-item>

    <ion-item>
      <ion-icon name="qr-scaner"></ion-icon>
      Scan
    </ion-item>


  </ion-list -->

  <!-- button
    ion-button
    block
    (click)="shutdown(wechaty)"
  >
    Shutdown
  </button -->

  <button
  ion-button
  block
  (click)="logout(wechaty)"
  >
    Logout
  </button>

</ion-content>
