<ion-header>
  <ion-navbar>
    <ion-title>Hostie Details</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="edit()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <h4>
    <ion-icon [name]="online()? 'ios-home' : 'ios-home-outline'"></ion-icon>
    {{ hostie.name }}
  </h4>

  <ion-note>
    {{ hostie.note }}
  </ion-note>

  <ion-list>
    <div *ngIf="online()">
      <p>Hostie environment:</p>
      <ion-item>
        Wechaty v{{ hostie.version }}
        <ion-icon [name]="icon()"></ion-icon>
      </ion-item>
    </div>
  </ion-list>

  <ion-list>

    <ion-item
      (click)="copy()"
    >
      <ion-icon name="key" item-left></ion-icon>
      {{ hostie.token }}
      <ion-icon name="copy" item-right></ion-icon>
    </ion-item>

  </ion-list>


    <ion-list>

      <ion-list-header>Status</ion-list-header>

      <ion-item>
        <ion-icon name="heart"></ion-icon>
        Heartbeat
        <ion-note item-right>at 10:49:03</ion-note>
      </ion-item>

      <ion-item
        *ngFor="let event of eventList"
      >
        <ion-icon [name]="eventToIcon(event.type)"></ion-icon>
        {{ event.type }}
        <ion-note item-right>at {{ event.time }}</ion-note>
      </ion-item>

    </ion-list>


    <p>Last 5 Event Log</p>

    <ion-list>
      <ion-item>
        <ion-icon name="ionic"></ion-icon>
        Item
      </ion-item>

      <ion-item>
        <ion-icon name="qr-scaner"></ion-icon>
        Scan
      </ion-item>

      <ion-thumbnail>
        <img 
          src="https://raw.githubusercontent.com/chatie/wechaty/master/image/BotQrcode.png"
        />
      </ion-thumbnail>

    </ion-list>

</ion-content>

